<div class="row justify-content-center">

    <div class="col-12">
        <div class="mx-auto text-center">
            <img src="assets/imgs/ze.jpg" class="img-responsive">
        </div>
    </div>

    <div class="col-12">

        <div class="row mt-3">

            <div class="col-12 col-md-6">
                <h5 class="text-center text-md-end">Bem-Vindo:</h5>
            </div>

            <div class="col-12 col-md-6">
                <h5 class="text-center text-md-start text-decoration-underline"><i class="fas fa-user me-1"></i>{{usuario?.nome}}</h5>
            </div>

        </div>

        <div class="row mt-3">

            <div class="col-12 col-md-4">
                <div class="d-grid gap-2">
                    <a routerLink="/campanhas" class="btn btn-primary fw-bolder fs-5">
                        <i class="fas fa-bullhorn me-1"></i>Campanhas
                    </a>
                </div>
            </div>

            <div class="col-12 col-md-4 mt-3 mt-md-0">
                <div class="d-grid gap-2">
                    <a routerLink="registro-vacina" class="btn btn-primary fw-bolder fs-5">
                        <i class="fas fa-pencil-alt me-1"></i>Registrar Vacinação
                    </a>
                </div>
            </div>

            <div class="col-12 col-md-4 mt-3 mt-md-0">
                <div class="d-grid gap-2">
                    <a routerLink="historico" class="btn btn-primary fw-bolder fs-5">
                        <i class="far fa-list-alt me-1"></i>Histórico Vacinação
                    </a>
                </div>
            </div>

            <div class="col-12 col-md-4 mt-3">
                <div class="d-grid gap-2">
                    <a [routerLink]="['conta',idUsuario]" class="btn btn-primary fw-bolder fs-5">
                        <i class="fas fa-cog me-1"></i>Gerenciar Conta
                    </a>
                </div>
            </div>

            <div class="col-12 col-md-4 mt-3">
                <div class="d-grid gap-2">
                    <a link="#" (click)="logout()" class="btn btn-primary fw-bolder fs-5">
                        <i class="fas fa-sign-out-alt me-1"></i>Sair
                    </a>
                </div>
            </div>

        </div>

    </div>

</div>